@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --color-background: #fefefe;
  --font-Montserrat: "Montserrat", sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950 text-black select-none;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
@layer base {
  body {
    @apply font-Montserrat;
  }
}
/* ẩn thanh scroll */
/* globals.css */
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* @keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); height: 100%;}
  to { opacity: 0; transform: translateY(10px); height: 0; }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
.animate-fadeOut {
  animation: fadeOut 0.3s ease-out forwards;
} */