@import 'tailwindcss';

@theme {
  --font-sans:
  'Nunito', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    /* 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', */
    'Noto Color Emoji';
  --color-background: #fefefe;
  --font-Montserrat: "Montserrat", sans-serif;
}

html,
body {
  @apply bg-white text-black select-none;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
@layer base {
  body {
    @apply font-sans;
  }
}
/* ẩn thanh scroll */
/* globals.css */
.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}


 .perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateX(180deg);
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-6px); }
  80% { transform: translateX(6px); }
}

.shake {
  animation: shake 0.5s ease;
}
@keyframes shrinkAndHide {
  0% {
    transform: scale(1);
    background-color: rgba(78, 236, 78, 0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden; /* ẩn thẻ sau khi thu nhỏ */
  }
}

.shrink-hide {
  animation: shrinkAndHide 0.5s forwards ease-in-out;
}
